@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amarna:ital,wght@0,100..700;1,100..700&family=DM+Serif+Display:ital@0;1&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&family=Tenor+Sans&display=swap');
@import "tailwindcss";


@theme {
  --font-heading: "Syne", sans-serif;
  --font-body: "Cormorant Garamond", serif;
  --color-background: #f7f5f2;
  --color-primary: #2f2f2f;

   
}
html,
body {
   margin: 0;
   background-color: var(--color-background);
   font-family: var(--font-body);
   font-weight : 500;
}
::selection {
  background-color: var(--color-primary);
  color: var(--color-background);
}

